/* Reset CSS básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
/* Estilos gerais e imagem de fundo */

body {
    background-image: url(https://miro.medium.com/v2/resize:fit:2800/format:webp/0*NFGUt0O1v7BzNKZr.jpg); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* A imagem cobre toda a tela */
    background-repeat: repeat; /* A imagem se repete se for menor que a tela */
    background-position: center; /* A imagem é centralizada */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da tela */
    font-family: Arial, sans-serif; /* Fonte do texto */
}

/* Estilos para o botão */

.botao {
    background-color: #084d6e; /* Cor de fundo do botão */
    border: none;
    color: white; /* Cor do texto do botão */
    padding: 15px 32px; /* Espaçamento interno do botão */
    text-align: center;
    text-decoration: A dama e o vagabundo;
    display: inline-block;
    font-size: 16px; /* Tamanho da fonte do botão */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra do botão */
    transition: background-color 0.3s ease; /* Transição suave para mudança de cor */
}

.botao:hover {
    background-color: #084d6e; /* Cor de fundo do botão ao passar o mouse */
}

/* Estilos para o texto no botão */

.botao span {
    display: block;
}
